body {
  margin: 0;
  padding: 0;
}
.container {
  height: 16.73333333rem;
  width: 100%;
}
.loader {
  box-sizing: border-box;
  display: flex;
  max-width: 25%;
  height: 2.66666667rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.line-spin-fade-loader {
  position: relative;
}
.line-spin-fade-loader div {
  background-color: #766e6e;
  width: 0.05333333rem;
  height: 0.46666667rem;
  border-radius: 0.02666667rem;
  margin: 0.02666667rem;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  width: 0.06666667rem;
  height: 0.2rem;
}
.line-spin-fade-loader > div:nth-child(1) {
  top: 0.26666667rem;
  left: 0;
  -webkit-animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(2) {
  top: 0.18181813rem;
  left: 0.18181813rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 0.26666667rem;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(4) {
  top: -0.18181813rem;
  left: 0.18181813rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(5) {
  top: -0.26666667rem;
  left: 0;
  -webkit-animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(6) {
  top: -0.18181813rem;
  left: -0.18181813rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -0.26666667rem;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(8) {
  top: 0.18181813rem;
  left: -0.18181813rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
}
.loader-text {
  line-height: 1;
  font-family: 'Microsoft Yahei';
  text-align: center;
  color: #000;
}
.inner {
  position: relative;
  z-index: -99;
  height: 100%;
  width: 100%;
}
.inner img {
  display: block;
  height: 100%;
  width: 100%;
}
.alert {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.alert .alert-box {
  width: 50%;
  margin: 30% auto;
  background-color: #fff;
  border-radius: 0.13333333rem;
  font-family: 'Helvetica', 'arial', 'sans-serif', 'Microsoft Yahei';
}
.alert .alert-box .alert-content {
  padding: 0.33333333rem 0.26666667rem;
  border-radius: 0.13333333rem 0.13333333rem 0 0;
  line-height: 1.6;
  text-align: center;
  white-space: nowrap;
}
.alert .alert-box .alert-confirm {
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  border-top: 0.01333333rem solid #EBEBEB;
  border-radius: 0 0 0.13333333rem 0.13333333rem;
  color: #0FA5F5;
}
@-webkit-keyframes line-spin-fade-loader {
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes line-spin-fade-loader {
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
[data-dpr="1"] .loader-text {
  font-size: 16px;
}
[data-dpr="2"] .loader-text {
  font-size: 32px;
}
[data-dpr="3"] .loader-text {
  font-size: 48px;
}
[data-dpr="1"] .alert-content {
  font-size: 16px;
}
[data-dpr="2"] .alert-content {
  font-size: 32px;
}
[data-dpr="3"] .alert-content {
  font-size: 48px;
}
[data-dpr="1"] .alert-confirm {
  font-size: 18px;
}
[data-dpr="2"] .alert-confirm {
  font-size: 36px;
}
[data-dpr="3"] .alert-confirm {
  font-size: 54px;
}
